<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body {
            color: white;
        }
        h1 {
            color: blue;
            font-family: monospace
        }
        p {
            color: blue
        }
    </style>
</head>
<body>
<h1>Welcome to Delphinium Citations!</h1>
<p>
    I made this app so that I could create citations in Chicago quickly.
    Although there are other citation generators, it has come to my attention that
    one could only use them only if they paid a subscription. This cite does citations completely
    free of charge.
</p>
</body>
</html>